.average-score {
    color: darkmagenta;
}

.average-box, .comment-form-box {
    display: flex;
    justify-content: center;
}

.card.score, .card.comment-form {
    max-width: 20rem !important;
}


