.gral-container {
  background-image: url(../Images/courses/background-courses.jpg);
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-family: sans-serif;
}

/* COURSES PRESENTATION-------------------------------------------------------*/

img .logo {
  width: 50%;
}

.courses-presentation {
  font-family: sans-serif;
  text-shadow: 0.0625rem 0.125rem black;
  text-align: center;
  margin: 3.125rem 1.25rem 0.625rem 1.25rem;
}

.courses-presentation h1 {
  font-size: 2.25rem;
  margin: 0.3125rem;
}

.courses-presentation p {
  font-size: 1.25rem;
  margin: 0rem;
}

.courses-presentation span {
  color: rgb(253, 236, 0);
}

/* OFFERED COURSES-------------------------------------------------------*/

.offered-courses {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.offered-courses .course {
  width: 16.875rem;
  height: 12.9375rem;
  background-color: white;
  border: 0.625rem solid #4a7d6b;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.4rem;
}

.offered-courses img {
  width: 10rem;
  height: 10em;
  margin: 0.125rem 0rem 0rem 0rem;
}

.offered-courses h2 {
  color: #2a454e;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0rem;
}

/*GENERAL INFORMATION OF COURSES ------------------------------------*/

.general-information-courses {
  margin-top: 1.4375rem;
  font-size: 1.125rem;
  font-family: sans-serif;
  text-shadow: 0.0625rem 0.125rem black;
}
.general-information-courses h1 {
  font-size: 2.5rem;
  text-shadow: 0.125rem 0.125rem black;
  text-align: center;
}
.general-information-courses h2 img {
  width: 3.75rem;
  height: 3.75rem;
  padding-right: 15rem;
}
.general-information-courses ul {
  list-style: none;
  padding-bottom: 1.25rem;
  margin: 0rem;
}
.general-information-courses li {
  padding-bottom: 1.25rem;
  margin-top: 0rem;
  margin-right: 2rem;
}

/*TABLE-----------------------------------------------*/

.complete-table {
  padding-left: 4vh;
  padding-right: 7vh;
  font-size: 3vh;
  margin-bottom: 6vh;
  text-align: center;
}

.complete-table input {
  width: 100%;
  margin: 1vh;
}

.btn-table-form {
  font-size: 2.5vh;
  color: white;
  background-color: #7700ff;
  padding: 1vh;
  font-weight: bold;
}

.btn-deletedAll {
  font-size: 2.5vh;
  color: white;
  background-color: #0c0414;
  padding: 1vh;
  font-weight: bold;
}

h4 {
  padding-top: 2rem;
}

.btn-edit {
  font-size: 2.5vh;
  color: #5200ff;
  background-color: rgb(253, 236, 0);
  padding: 1vh;
  font-weight: bold;
  width: 289px;
}

table {
  width: 100%;
  padding-bottom: 2vw;
}

table th,
table td {
  padding: 1vh;
  font-size: 2vh;
  font-family: sans-serif;
  background-color: #a35dff54;
}

.change-row {
  background-color: rgb(253, 236, 0);
  color: black;
}

button #5ef7a8bc88ba820004408f87 {
  background-color: red;
}

.hide-th {
  display: none;
}

/* Media Query Desktop*/

@media only screen and (min-width: 1176px) {
  .gral-container {
    height: auto;
  }

  /*COURSES MAIN-------------------------------------------------------*/

  .courses-main {
    margin-top: 1.875rem;
  }

  /* COURSES PRESENTATION-------------------------------------------------------*/

  .courses-presentation {
    margin: 2.3125rem 1.25rem 0.625rem 1.25rem;
  }

  .courses-presentation h1,
  .courses-presentation p {
    text-align: center;
  }

  /* OFFERED COURSES-------------------------------------------------------*/

  .offered-courses {
    width: 100%;
  }

  .offered-courses img {
    width: 11.1875rem;
    height: 11.125rem;
  }

  /*GENERAL INFORMATION OF COURSES ------------------------------------*/

  .general-information-courses {
    width: 100%;
  }

  .general-information-courses h1 {
    font-size: 2.75rem;
  }

  .general-information-courses h2 img {
    padding-right: 1rem;
  }

  .general-information-courses li {
    margin-top: 1.25rem;
  }

  /*TABLE-----------------------------------------------*/

  /* .complete-table input {
    width: 15%;
  }

  .btn-table-form,
  .btn-deletedAll {
    font-size: 1rem;
  }

  table th,
  table td {
    padding: 0.5625rem;
  } */

  /* FOOTER INFORMATION-------------------------------------------------------*/

  .footer-information {
    width: 100%;
    margin-top: 1.25rem 0rem 0.625rem 0rem;
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    padding: 0 0 0.75rem 0;
    margin-top: 0.9375rem;
    font-size: 0.75rem;
  }
}
